<section class="container my-4">
  <h1>Validaciones personalizadas con Formularios Reactivos</h1>
  <p>
    El propósito de este ejemplo es demostrar cómo crear validaciones personalizadas utilizando
    formularios reactivos en Angular.
  </p>
  <hr />
</section>

<section class="container mb-4">
  <div class="form-card">
    <h2>Crear Cuenta</h2>

    <form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="username">Nombre de usuario</label>
        @let username = form.get('username');
        @let showUsernameError = username?.invalid && username?.touched;
        <!-- Campo de entrada para el nombre de usuario usando formControlName -->
        <input
          type="text"
          id="username"
          formControlName="username"
          [class.error]="showUsernameError"
          class="form-input"
          autocomplete="none"
          autofill="none"
        />

        <!-- Mensaje de error condicional que se muestra si el campo es inválido y ha sido tocado -->
        @if (showUsernameError) {
          <span class="error-message">
            {{ getUsernameError() }}
          </span>
        }
      </div>

      <div class="form-group">
        <label for="email">Correo electrónico</label>
        @let email = form.get('email');
        @let showEmailError = email?.invalid && email?.touched;

        <!-- Campo de entrada para el correo electrónico usando formControlName -->
        <input
          type="email"
          id="email"
          formControlName="email"
          [class.error]="showEmailError"
          class="form-input"
          autocomplete="none"
          autofill="none"
        />

        <!-- Mensaje de error condicional que se muestra si el campo es inválido y ha sido tocado -->
        @if (showEmailError) {
          <span class="error-message">
            {{ getEmailError() }}
          </span>
        }
      </div>

      <button class="submit-button" type="submit" [disabled]="form.invalid">Crear Cuenta</button>
    </form>
  </div>

  <section>
    @if (showSuccessAlert()) {
      <div class="success-alert">
        <div class="alert-content">
          <h3>¡Cuenta creada exitosamente!</h3>
          <p><strong>Datos enviados:</strong></p>
          <p><strong>Nombre de usuario:</strong> {{ submittedData()?.username }}</p>
          <p><strong>Correo:</strong> {{ submittedData()?.email }}</p>
          <button class="close-button" (click)="closeAlert()">×</button>
        </div>
      </div>
    }
  </section>

  <br />
  <p>Valor del formulario</p>
  <code>
    <pre>{{ form.value | json }}</pre>
  </code>
  <br />
</section>
